/*** ----------------------------------

CUSTOM LAYOUT STYLES
---------------------------------------

filename:asset/scss/custom
copyright: Flagship Creative
License:CC BY Flagship
contact:info@weareflagship.com

-------------------------------------------------------------------------- ***/

html {
    height: 100%;
}

body {
    background: linear-gradient(to bottom, #ecece3 0%,#a5f0f7 100%);
    text-align: center;
    height: 100%;
    padding-top: map-get($spacers, 3);
    @include media-breakpoint-up(md) { padding-top: map-get($spacers, 4); }
}


.preferences {
    text-align: left;
    margin-top: map-get($spacers, 3);
    @include media-breakpoint-up(md) { margin-top: map-get($spacers, 5); }
    &.hidden { opacity: 0; }
}

.stats {
    font-size: $font-size-sm;
    margin-bottom: map-get($spacers, 3);
    @include media-breakpoint-up(md) { 
      font-size: $font-size-base; 
      margin-bottom: map-get($spacers, 4)
    }
    @include media-breakpoint-up(lg) { 
      font-size: $font-size-lg;
    }
    
}

.stats-index {
    text-align: left;
}

.stats-score-wrapper {
    text-align: right;
}


.question {
    text-shadow: 0 1px rgba(255,255,255,0.7);
    margin-bottom: (map-get($spacers, 4) * 1.5);
    @include media-breakpoint-up(md) { margin-bottom: map-get($spacers, 5); }
}

.answers {
    list-style: none;
    margin-bottom: map-get($spacers, 3);
    @include media-breakpoint-up(md) {  margin-bottom: map-get($spacers, 5); }
}

.answer {
    margin-bottom: map-get($spacers, 3);
}


.hidden {
    pointer-events: none;
}


.feedback {
    background: rgba(255,255,255,0.5);
    padding: map-get($spacers, 3);
    align-items: center;
    text-align: center;
    box-shadow: 0 1px 0 1px rgba(0,0,0,0.03);
    @include media-breakpoint-up(lg) {
      text-align: left;
    }
}

.feedback-response {
    margin: 0 0 map-get($spacers, 3);
    font-size: $font-size-base;
    @include media-breakpoint-up(lg) { 
      font-size: $font-size-lg; 
      margin: 0;
    }
}

.feedback-button {
    text-align: center;
    @include media-breakpoint-up(lg) { 
      text-align: right;
    }
}

.summary {
    margin-top: map-get($spacers, 5);
}

.selected-prefs {
    font-size: $font-size-lg;
    list-style: none;
    padding: 0;
    margin: map-get($spacers, 4) 0 map-get($spacers, 5) 0;
}

.btn-tryAgain {
    text-align: center;
    margin-bottom: map-get($spacers, 3);
    @include media-breakpoint-up(lg) { 
      text-align: right; 
      margin-bottom: 0;
    }
}

.btn-returnSettings {
    text-align: center;
    @include media-breakpoint-up(lg) { text-align: left; }
}



.animated {
    -webkit-animation-duration: 0.75s;
    animation-duration: 0.75s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
  }

  @-webkit-keyframes fadeIn {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }
  
  @keyframes fadeIn {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }
  
  .fadeIn {
    -webkit-animation-name: fadeIn;
    animation-name: fadeIn;
  }
  
